.input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;

  color: #000000;
  border: none;
  /*background-color: #f9f9f9;*/
  border-bottom: #E8E8E8;
}

.input::placeholder {
  color: var(--grey-color);
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: 3px solid var(--blue-color);
  outline-offset: 3px;
}

.input-error {
  margin-top: 13px;
}

@media screen and (min-width: 600px) {
  .input-error {
    margin-top: 15px;
  }
}
