.movies-card {
  position: relative;

  display: block;

  border-radius: 0 0 10px 10px;
  background: #fdfdfd;
  box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}

.movies-card__link {
  position: relative;
}

.movies-card__image {
  display: block;

  width: 100%;
  aspect-ratio: calc(300 / 168);

  object-fit: cover;
  object-position: center;
  border-radius: 10px 10px 0 0;
}

.movies-card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 18px 14px 18px 18px;

  border-radius: 0 0 10px 10px;
}

.movies-card__info-top {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.movies-card__name {
  overflow: hidden;

  width: 80%;
  margin: 0;
  padding: 0;

  white-space: nowrap;
  text-overflow: ellipsis;

  color: #000000;

  font-size: 13px;
  font-weight: 500;
  line-height: calc(16 / 13);
}

.movies-card__button {
  display: block;

  width: 16px;
  height: 16px;
  margin: 0 auto;
}
.movies-card__button_type_not-added {
  width: 100px;
  height: 29px;
  border-radius: 29px;
  background-color: #F4F4F4;
}


.movies-card__button_type_added {
  width: 100px;
  height: 29px;
  border-radius: 29px;
  background-color: #EE3465;
}
.movies-card__button_type_added:hover {
  background-color: #EE3465;
}

.movies-card__button_type_saved {
  transition: opacity 0.5s;
  width: 100px;
  height: 29px;
  border-radius: 30px;
  background-color: #F4F4F4;

  opacity: 1;
  background-image: url('../../images/card-delete-button.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;

}

.movies-card__duration {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: end;

  color: var(--grey-color);

  font-size: 11px;
  font-weight: 400;
  line-height: calc(13 / 11);
}

@media screen and (min-width: 600px) {
  .movies-card__image {
    aspect-ratio: calc(339 / 190);
  }
}

@media screen and (min-width: 900px) {
  .movies-card__image {
    aspect-ratio: calc(270 / 151);
  }
}
