.movies__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
.movies__message {
    text-align: center;
    padding: 20px 0;
}

.movies__page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  