.profile-edit-form {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  box-sizing: border-box;
  max-width: 470px;
  height: 100%;
  max-height: 706px;
  margin: 0 auto;
  padding: 69px 30px 41px;
}

.profile-edit-form__title {
  margin: 0;
  padding: 0;

  text-align: center;

  color: #000000;

  font-size: 24px;
  font-weight: 500;
  line-height: calc(29 / 24);
}

.profile-edit-form__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: 100%;
  max-height: 488px;
  margin-top: 60px;
}

.profile-edit-form__field {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;

  color: #000000;

  font-size: 11px;
  line-height: calc(13 / 11);
}

.profile-edit-form__field:first-child {
  margin-top: 80px;
}

.profile-edit-form__field:nth-child(n + 2) {
  margin-top: 13px;
  padding-top: 26px;

  border-top: 1px solid #e8e8e8;
}

.profile-edit-form__label {
  padding-top: 8px;

  font-weight: 500;
}

.profile-edit-form__input-wrapper {
  width: 80%;
}

.profile-edit-form__input {
  margin-left: auto;
  padding: 8px;

  text-align: right;

  border-radius: 8px;
  background-color: #f9f9f9;

  font-weight: 400;
}

.profile-edit-form__input:disabled {
  background-color: #ffffff;
}

.profile-edit-form__input-error {
  min-height: 12px;
  margin-top: 8px;

  text-align: right;
}

.profile-edit-form__api-success {
  display: block;

  min-height: 12px;
  margin-top: auto;

  text-align: center;

  color: var(--green-color);

  font-size: 10px;
  font-weight: 400;
  line-height: calc(12 / 10);
}

.profile-edit-form__edit-button {
  margin-top: 32px;

  transition: opacity 0.5s;
  text-align: center;

  opacity: 1;
  color: #000000;

  font-size: 12px;
  font-weight: 400;
  line-height: calc(15 / 12);
}

.profile-edit-form__edit-button:hover {
  transition: opacity 0.1s;

  opacity: 0.7;
}

.profile-edit-form__exit-button {
  margin-top: 16px;

  transition: opacity 0.5s;
  text-align: center;

  opacity: 1;
  color: var(--red-color);

  font-size: 12px;
  font-weight: 400;
  line-height: calc(15 / 12);
}

.profile-edit-form__exit-button:hover {
  transition: opacity 0.1s;

  opacity: 0.7;
}

.profile-edit-form__submit-button {
  width: 100%;
  margin-top: auto;
  padding: 15px 0;

  text-align: center;

  color: #ffffff;
  border-radius: 3px;
  background-color: var(--blue-color);

  font-size: 12px;
  font-weight: 500;
  line-height: calc(15 / 12);
}

.profile-edit-form__submit-button:hover {
  background-color: rgba(52, 86, 243, 0.8);
}

.profile-edit-form__submit-button:disabled {
  color: #c2c2c2;
  background-color: #f8f8f8;
}

@media screen and (min-width: 600px) {
  .profile-edit-form {
    max-height: 720px;
    padding: 72px 30px 41px;
  }

  .profile-edit-form__field:first-child {
    margin-top: 80px;
  }

  .profile-edit-form__input-error {
    min-height: 13px;
  }

  .profile-edit-form__api-success {
    min-height: 13px;

    font-size: 11px;
    line-height: calc(13 / 11);
  }

  .profile-edit-form__edit-button {
    font-size: 13px;
    line-height: calc(16 / 13);
  }

  .profile-edit-form__exit-button {
    font-size: 13px;
    line-height: calc(16 / 13);
  }

  .profile-edit-form__submit-button {
    padding: 13px 0 15px;

    font-size: 14px;
    line-height: calc(17 / 14);
  }
}

@media screen and (min-width: 900px) {
  .profile-edit-form {
    max-height: 626px;
    padding: 74px 30px 70px;
  }

  .profile-edit-form__field:first-child {
    margin-top: 80px;
  }

  .profile-edit-form__edit-button {
    font-size: 13px;
    line-height: calc(16 / 13);
  }

  .profile-edit-form__exit-button {
    font-size: 13px;
    line-height: calc(16 / 13);
  }
}
