.savedMovies__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
  
.savedMovies__message {
    text-align: center;
    padding: 20px 0;
}

.savedMovies__page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}