.footer {
    padding: 79px 70px 20px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
  
  .footer__text {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
    padding: 20px 0;
    border-bottom: 1px solid #E8E8E8;
    margin-bottom: 20px;
  }
  
  .footer__bottom-block {
    display: flex;
    justify-content: space-between;
  }
  
  .footer__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  
  .footer__links {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    gap: 20px;
  }
  
  .footer__link {
    color: #000000;
    text-decoration: none;
    transition: 0.3s ease;
  }
  
  @media screen and (max-width: 768px) {
    .footer {
      padding: 79px 30px 20px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .footer {
      padding: 79px 10px 10px;
    }
  
    .footer__text {
      font-size: 12px;
      line-height: 15px;
      padding-bottom: 21px;
      margin-bottom: 30px;
    }
  
    .footer__bottom-block {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .footer__copyright {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #A0A0A0;
    }
  
    .footer__links {
      font-size: 12px;
      line-height: 15px;
      flex-direction: column;
      text-align: center;
      gap: 12px;
      margin-bottom: 30px;
    }
  }