.footer {
  padding: 79px 10px 10px;

  text-align: center;

  font-size: 12px;
  font-weight: 400;
  line-height: calc(15 / 12);
}

.footer__about {
  margin: 0;
  padding: 0;

  color: var(--grey-color);
}

.footer__about::after {
  display: block;

  margin-top: 20px;

  content: '';

  border: 1px solid #e8e8e8;
}

.footer__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 0;
  margin-top: 29px;
  padding: 0;

  list-style-type: none;
}

.footer__item_type_link:nth-child(n + 2) {
  margin-top: 12px;
}

.footer__item_type_copyright {
  margin-top: 30px;

  color: var(--grey-color);
}

.footer__link {
  color: #000000;
}

.footer__link:visited {
  color: #000000;
}

@media screen and (min-width: 600px) {
  .footer {
    padding: 79px 30px 20px;

    font-size: 13px;
    line-height: calc(16 / 13);
  }

  .footer__list {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

    margin-top: 19px;
  }

  .footer__item_type_link:nth-child(n + 2) {
    margin-top: 0;
    margin-left: 20px;
  }

  .footer__item_type_copyright {
    order: -1;

    margin-top: 0;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .footer {
    padding: 79px 70px 20px;
  }
}
