.about-me {
  padding: 71px 14px 70px;
}

.about-me__title {
  margin: 0;
  padding: 0;

  letter-spacing: -0.04em;

  font-size: 18px;
  font-weight: 400;
  line-height: calc(22 / 18);
}

.about-me__title::after {
  display: block;

  margin-top: 27px;

  content: '';

  border-bottom: 1px solid #000000;
}

.about-me__inner {
  margin-top: 60px;

  text-align: left;
}

.about-me__photo {
  display: block;

  width: 100%;
  height: 100%;
  min-height: 352px;

  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

.about-me__name {
  margin: 0;
  margin-top: 40px;
  padding: 0;

  letter-spacing: -0.04em;

  font-size: 30px;
  font-weight: 400;
  line-height: calc(36 / 30);
}

.about-me__profession {
  margin: 0;
  margin-top: 20px;
  padding: 0;

  font-size: 11px;
  font-weight: 500;
  line-height: calc(16 / 11);
}

.about-me__text {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;

  letter-spacing: -0.04em;

  font-size: 11px;
  font-weight: 400;
  line-height: calc(16 / 11);
}

.about-me__link {
  margin-top: 40px;

  color: #000000;

  font-size: 14px;
  font-weight: 500;
  line-height: calc(17 / 14);
}

.about-me__link:visited {
  color: #000000;
}

@media screen and (min-width: 600px) {
  .about-me {
    padding: 91px 50px 90px;
  }

  .about-me__title {
    font-size: 22px;
    line-height: calc(27 / 22);
  }

  .about-me__title::after {
    margin-top: 22px;
  }

  .about-me__inner {
    display: grid;
    justify-content: start;
    align-items: start;
    column-gap: 30px;
    grid-template-columns: 1fr 255px;
    grid-template-rows: repeat(5, auto);

    margin-top: 66px;
  }

  .about-me__photo {
    grid-column: 2 / 3;
    grid-row: 1 / -1;

    width: 255px;
    height: 307px;
    min-height: 0;
  }

  .about-me__name {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    margin-top: 1px;

    font-size: 40px;
    line-height: calc(40 / 40);
  }

  .about-me__profession {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    margin-top: 15px;

    font-size: 12px;
    line-height: calc(18 / 12);
  }

  .about-me__text {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    max-width: 460px;
    margin: 0;
    margin-top: 20px;

    font-size: 12px;
    line-height: calc(18 / 12);
  }

  .about-me__link {
    grid-column: 1 / 2;
    grid-row: 4 / 5;

    margin-top: 87px;
  }
}

@media screen and (min-width: 900px) {
  .about-me {
    padding: 111px 70px 100px;
  }

  .about-me__inner {
    grid-template-columns: 1fr 270px;
  }

  .about-me__photo {
    width: 270px;
    height: 327px;
  }

  .about-me__name {
    margin-top: 0;

    font-size: 50px;
    line-height: calc(58 / 50);
  }

  .about-me__profession {
    margin-top: 19px;

    font-size: 18px;
    line-height: calc(20 / 18);
  }

  .about-me__text {
    max-width: 600px;
    margin-top: 25px;

    font-size: 14px;
    line-height: calc(22 / 14);
  }

  .about-me__link {
    margin-top: 99px;
  }
}
